<br>
<p class="h1" style="margin-left: 30px">Add-Region Zone</p>
<br>
<br>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
<div class="row">
  Region Zone <input matInput placeholder="Zone Name" ngModel name="zonename" id="zonename"  required> <button type="submit"> Add  </button></div>
  <br>
<br>
<br>
<table>

  <tr>
    <td>Senior Engineer</td>
    <td><input matInput placeholder="Se Eng Name" ngModel name="seniorengineer" id="seniorengineer" required></td>
    <td>Mobile Number:</td>
    <td><input matInput placeholder="Se Eng Mobile no" ngModel name="semobno" id="semobno" required></td>
    <td>Email:</td>
    <td><input matInput placeholder="Se Eng email" ngModel name="seemail" id="seemail" required></td>
  </tr>
  <tr>
    <td>Engineer</td>
    <td><input matInput placeholder="Eng Name" ngModel name="engineer" id="engineer" required></td>
    <td>Mobile Number:</td>
    <td><input matInput placeholder="Eng Mobile no" ngModel name="emobno" id="emobno" required></td>
    <td>Email:</td>
    <td><input matInput placeholder="Eng email" ngModel name="eemail" id="eemail" required></td>
  </tr>


</table>
<br>
<br>
<br>

</form>
