<br>
<p class="h1" style="margin-left: 30px">Add-Region Zones</p>
<br>
<br>
<form>
<div class="row">
  Region Zone <input type="text" class="form-control col-md-3" required=""/> <button type="submit"> Add  </button></div>
  <br>
<br>
<br>
<table>

  <tr>
    <td>Senior Engineer</td>
    <td><input type="text" class="form-control" required/>
    <td>Mobile Number:</td>
    <td><input type="text" class="form-control" required/>
    <td>Email:</td>
    <td><input type="text" class="form-control" required/>
    </td>
  </tr>
  <tr>
    <td>Engineer</td>
    <td><input type="text" class="form-control"/>
    <td>Mobile Number:</td>
    <td><input type="text" class="form-control"/>
    <td>Email:</td>
    <td><input type="text" class="form-control"/>
  </tr>


</table>
<br>
<br>
<br>
<table>

  <tr>


    <th>Sub-Regions	</th>


    <th>Technical Officer	</th>


    <th>Mobile Number	</th>


    <th>Email		</th>


  </tr>

  <tr>
    <td><input type="text" class="form-control"/></td>
    <td><input type="text" class="form-control"/></td>
    <td><input type="text" class="form-control"/></td>
    <td><input type="text" class="form-control"/></td>

  </tr>

  <tr>
    <td><input type="text" class="form-control"/></td>
    <td><input type="text" class="form-control"/></td>
    <td><input type="text" class="form-control"/></td>
    <td><input type="text" class="form-control"/></td>

  </tr>

  <tr>
    <td><input type="text" class="form-control"/></td>
    <td><input type="text" class="form-control"/></td>
    <td><input type="text" class="form-control"/></td>
    <td><input type="text" class="form-control"/></td>

  </tr>

  <tr>
    <td><input type="text" class="form-control"/></td>
    <td><input type="text" class="form-control"/></td>
    <td><input type="text" class="form-control"/></td>
    <td><input type="text" class="form-control"/></td>
  </tr>

  <tr>
    <td><input type="text" class="form-control"/></td>
    <td><input type="text" class="form-control"/></td>
    <td><input type="text" class="form-control"/></td>
    <td><input type="text" class="form-control"/></td>
  </tr>

</table>
</form>
