<p [(ngModel)]="data.ids" ngDefaultControl>Maintenance ID: {{data.ids}}</p>

<p [(ngModel)]="data.sname" ngDefaultControl>Site Name : {{data.sname}}</p>
<p [(ngModel)]="data.category" ngDefaultControl>Category : {{data.category}}</p>
<p [(ngModel)]="data.issue" ngDefaultControl>Issue: {{data.issue}}</p>
<p [(ngModel)]="data.idate" ngDefaultControl>Informed Date:  {{data.idate}}</p>
<p [(ngModel)]="data.piority" ngDefaultControl>Piority: {{data.piority}}</p>


<form (ngSubmit)="submitUpdate()" >
<div class="row">
  <div class="form-group col-md-6" >
    <label for="Rcost">Refactor Cost</label>
    <input name="Rcost"
           [(ngModel)]="data.cost"
           id="Rcost"
           type="text"
           class="form-control" >
  </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <mat-form-field class="example-full-width">
        <label for="conname">Contractor Name</label>
        <mat-select [(ngModel)]="data.conname" name="conname" id="conname" class="form-control">
          <mat-option *ngFor="let cate of optionscontractornames" [value]="cate">
            {{cate}}
          </mat-option>
        </mat-select>
        <!--   <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-7">
      <label for="rdate">Refactor Date</label>
      <input required ngModel
             name="rdate"
             [(ngModel)]="data.rdate"
             id="rdate"
             type="date"
             class="form-control" >

    </div>
  </div>

  <div class="panel">
    <button type="submit"   class="btn-success">Submit</button>
  </div>
</form>
