<div><p class="h2" style="margin-left: 200px">View-Visitors </p>
<div style="position: relative; margin-left:350px">
  <div  fxLayout fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%" class="example-form ">
      <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
</div>



  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource1" multiTemplateDataRows matSort  class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="Site Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Site Name </th>
        <td mat-cell *matCellDef="let m"> {{m.siteName}}</td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>

      <ng-container matColumnDef="Visitor Name">
        <th mat-header-cell *matHeaderCellDef>Visitor Name </th>
        <td mat-cell *matCellDef="let m"> {{m.visitorName}} </td>
      </ng-container>

      <ng-container matColumnDef="Visit Date">
        <th mat-header-cell *matHeaderCellDef>Visit Date </th>
        <td mat-cell *matCellDef="let m"> {{m.vistDate}} </td>
      </ng-container>

      <ng-container matColumnDef="In time">
        <th mat-header-cell *matHeaderCellDef> In Time </th>
        <td mat-cell *matCellDef="let m"> {{m.intime}} </td>
      </ng-container>

      <ng-container matColumnDef="Exit Time">
        <th mat-header-cell *matHeaderCellDef> Exit Time</th>
        <td mat-cell *matCellDef="let m"> {{m.exitTime}} </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let m"> {{m.description}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="gotoadd()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let m; let i=index;">
          <button mat-icon-button color="accent" (click)="startEdit(m.siteName,m.visitorId, m.visitorName,m.vistDate, m.intime, m.exitTime, m.description)"  >
            <mat-icon aria-label="Build">edit</mat-icon>
          </button>



          <button mat-icon-button color="accent"  (click)="delete(m.visitorId)" >
            <mat-icon aria-label="Delete">delete</mat-icon></button>

          <button mat-button color="accent"  (click)="getreporttoeach(m.visitorId, m.siteName,m.visitorName, m.vistDate,m.intime,m.exitTime,m.description)">
            <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">print</mat-icon></button>



        </mat-cell>
      </ng-container>





      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="tableFooterColumns"></tr>



    </table>
  </div>
  <button mat-button color="accent" (click)="GenerateReport()">
    <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">print</mat-icon></button>


</div>








