<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Add Region Details</h3>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Sub-Region
              </mat-panel-title>
              <mat-panel-description>
                Add Sub-Region
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="form-group col-md-2" >
              <mat-form-field class="example-full-width">
                <label for="regionname">Region Name</label>
                <input type="text" required
                       name="regionname"   id="regionname"  [(ngModel)]="rname" aria-label="Number" matInput  [formControl]="myControl" [matAutocomplete]="auto" class="form-control">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option" class="row">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <!--   <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
              </mat-form-field>
            </div>
            <div [hidden]="(validcomplete(rname) === -1)? true:false" >
              <p class="mat-warn">  Enter valid Region name</p>
            </div>

            <div [hidden]="(validcomplete(rname) === 0)? true:false">
            <br>
            <mat-form-field style="width: 25%">
              <input matInput placeholder="Zone Name" [(ngModel)]="re.zonename" name="zonename" id="zonename" value="{{re.zonename}}" required >
            </mat-form-field>
            <br>
            <mat-form-field style="width: 25%">
              <input matInput placeholder="Technical Officer Name" [(ngModel)]="re.technicalofficer" name="technicalofficer" id="technicalofficer" value="{{re.technicalofficer}}" required >
            </mat-form-field>
            <br>
            <mat-form-field style="width: 25%">
              <input matInput placeholder="Technical Officer Mobile No:" [(ngModel)]="re.tomobno" name="tomobno" id="tomobno" value="{{re.tomobno}}" minlength="10" maxlength="10" required >
            </mat-form-field>
            <br>
            <mat-form-field style="width: 25%;">
              <input matInput placeholder="Technical Officer Email:" [(ngModel)]="re.toemail" name="toemail" id="toemail" value="{{re.toemail}}"required >
            </mat-form-field>
            <br>
            <button class="btn btn-primary mt-2 ml-4 mb-2" (click)="submitUpdate(re)" type="button" >
              Update
            </button>
            <button class="btn btn-primary mt-2 ml-4 mb-2" (click)="deleteregion(rname)" type="button"  >
              Delete
            </button>

            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </form>
    </div>
  </div>
</div>
