<table><tr>
  <th class="the">    <app-map></app-map></th>



  <th class="the">

    <div class="col-md-6 user-container" align="bottom"><table ><tr><th class="th">
      <h3 >Site Status</h3>
      <a href="#"><button class="buttonMain2">View Active Sites </button></a>
      <a href="#"><button class="buttonMain2">View Down Sites</button></a>
      <a href="#"><button class="buttonMain2">View Maintaining Sites</button></a>
      <a [routerLink]="['/status-report']" routerLinkActive="active"><button class="buttonMain2">View Status Report</button></a>

    </th></tr></table>
      <br><br>


    </div>
  </th>
</tr>
</table>


