<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <h3 class="text-center">View Site</h3>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col parent">
      <form class="example-form text-center" (ngSubmit)="onSubmit('id')">
        <mat-form-field class="example-full-width">
          <button type="submit" style="display:none">hidden submit</button>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="siteID">
          <mat-placeholder>Enter Site ID</mat-placeholder>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col parent">
      <form class="example-form text-center" (ngSubmit)="onSubmit('name')">
        <mat-form-field class="example-full-width">
          <button type="submit" style="display:none">hidden submit</button>
          <input type="text" matInput [formControl]="myControl1" [matAutocomplete]="auto1" [(ngModel)]="siteName">
          <mat-placeholder> or Site Name</mat-placeholder>
          <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
            <mat-option *ngFor="let option of filteredNameOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>

  <div class="row mt-3 pt-3 mb-3 pt-3">
    <div class="col parent">
      <mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
        <mat-chip><a (click)="validateRedirect('Site/view-site-details')" id="xxx">View Site Details</a></mat-chip>
        <mat-chip><a (click)="validateRedirect('/add-region')">View Region Details</a></mat-chip>
        <mat-chip><a (click)="validateRedirect('Maintenance/view-maintenance')">View Maintenance Log</a></mat-chip>
        <mat-chip><a (click)="validateRedirect('/owned-towers')">View Tower Loading</a></mat-chip>
        <mat-chip><a (click)="validateRedirect('/siteMap/directmap')">View On Map</a></mat-chip>
        <mat-chip><a (click)="validateRedirect('/view-incident')">View Security Details</a></mat-chip>
        <mat-chip><a (click)="validateRedirect('/spec-nav')">View Specifications</a></mat-chip>
        <mat-chip><a (click)="validateRedirect('/view-ongoing-project')">View Ongoing Projects</a></mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <!--tr *ngFor="let site of sites">
    <td><input value="{{ site.siteID }}"></td>
    <td>{{ site.siteName }}</td>
  </tr-->

</div>
