<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar" style="box-shadow: 4px 4px 5px lightgrey">
    <div class="sidebar-header">
      <a [routerLink]="['Dashboard/page-content']" routerLinkActive="active"><h3>HUTCH</h3></a>
    </div>

    <ul class="list-unstyled components">
      <p style="font-family: 'Orbitron', sans-serif; font-size: 1.4rem">Civil Department</p>
      <hr>
      <li>
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Region</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#" [routerLink]="['/Region/view-region']" routerLinkActive="active">View Region</a>
          </li>
          <li>
            <a href="#" [routerLink]="['/Region/view-region-zone']" routerLinkActive="active">View Zone</a>
          </li>
          <li>
            <a href="#"  [routerLink]="['/Region/add-region']" routerLinkActive="active">Add Zone</a>
          </li>
        </ul>
      </li>
      <hr>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Site Management</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a [routerLink]="['/Site/view-site']" routerLinkActive="active">View Site</a>
          </li>
          <li>
            <a [routerLink]="['/Site/view-site-details']" routerLinkActive="active">View Site Details</a>
          </li>
          <li>
            <a [routerLink]="['/Site/view-all-sites']" routerLinkActive="active">View All Sites</a>
          </li>
          <li>
            <a [routerLink]="['/Site/add-site-details']" routerLinkActive="active">Add Site Details</a>
          </li>
        </ul>
      </li>
      <hr>
      <li>
        <a href="#SiteMapSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Site Mapping</a>
        <ul class="collapse list-unstyled" id="SiteMapSubmenu">
          <li>
            <a [routerLink]="['siteMap/search-map']" routerLinkActive="active">Search Map</a>
          </li>
          <li>
            <a [routerLink]="['siteMap/site-status']" routerLinkActive="active">View Status</a>
          </li>
          <li>
            <a [routerLink]="['siteMap/remarks']" routerLinkActive="active">View Site Remarks</a>
          </li>
        </ul>
      </li>
      <hr>
      <li>
        <a href="#TowerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tower & Tower Loading</a>
        <ul class="collapse list-unstyled" id="TowerSubmenu">
          <li>
            <a [routerLink]="['/owned-towers']" routerLinkActive="active">Owned Tower</a>
          </li>
          <li>
            <a [routerLink]="['/physical-measurement']" routerLinkActive="active">Physical Measurment</a>
          </li>
          <li>
            <a [routerLink]="['/calculation']" routerLinkActive="active">Calculation</a>
          </li>
        </ul>
      </li>
      <hr>
      <li>
        <a href="#MaintenanceSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Maintenance & Repair</a>
        <ul class="collapse list-unstyled" id="MaintenanceSubmenu">
          <li>
            <a [routerLink]="['/Maintenance/add-maintenance']" routerLinkActive="active">Add Maintenance</a>
          </li>
          <li>
            <a [routerLink]="['/Maintenance/view-maintenance']" routerLinkActive="active">View Maintenance</a>
          </li>
          <li>
            <a [routerLink]="['/Maintenance/view-contractors']" routerLinkActive="active">Contractors</a>
          </li>
        </ul>
      </li>
      <hr>
      <li>
        <a href="#SecuritySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Security Details</a>
        <ul class="collapse list-unstyled" id="SecuritySubmenu">
          <li>
            <a [routerLink]="['Security/view-incidents']" routerLinkActive="active">View Incident</a>
          </li>
          <li>
            <a [routerLink]="['Security/add-visitors']" routerLinkActive="active">Add Visitors</a>
          </li>
          <li>
            <a [routerLink]="['Security/add-incidents']" routerLinkActive="active">Add Incidents</a>
          </li>
        </ul>
      </li>
      <hr>

      <li>
        <a [routerLink]="['/Spec/spec-nav']" routerLinkActive="active">Specifications</a>

      </li>
      <hr>
      <li>
        <a href="#projectSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ongoing Project</a>
        <ul class="collapse list-unstyled" id="projectSubmenu">
          <li>
            <a [routerLink]="['Ongoing/view-ongoing-project']" routerLinkActive="active">View Ongoing Project</a>
          </li>
          <li>
            <a [routerLink]="['Ongoing/add-new-project']" routerLinkActive="active">Add New Project</a>
          </li>
          <li>
            <a [routerLink]="['Ongoing/project-view']" routerLinkActive="active">View project</a>
          </li>
        </ul>
      </li>
      <hr>
    </ul>

  </nav>

 <!-- <router-outlet></router-outlet>-->

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <button style="background-color: transparent; border: none" onclick="myFunction()" class="dropbtn">
                <img src="assets/img/avatar.png" width="50" height="50" alt="">
                Deepaal Perera
              </button>
              <div id="myDropdown" class="dropdown-content">
                <a href="#home">Profile</a>
                <hr>
                <button style="background-color: transparent; border: none; padding-left: 17px">Log Out</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
