<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="drag-container">
        <div class="section-heading">To Do<br>
          <input type="text" [(ngModel)]="text" name="todotxt" >
        <button mat-icon-button color="primary" class="mat-icon-button" (click)="add(text)">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button></div><br>
        <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doingList,doneList]"
             class="item-list" (cdkDropListDropped)="drop($event)">
          <div class="item-box" *ngFor="let item of todo" cdkDrag>{{item}}

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="drag-container">
        <div class="section-heading">Doing
          </div><br>
        <div cdkDropList #doingList="cdkDropList" [cdkDropListData]="doing" [cdkDropListConnectedTo]="[doneList,pendingList]"
             class="item-list" (cdkDropListDropped)="drop($event)">
          <div class="item-box" *ngFor="let item of doing" cdkDrag>{{item}}

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="drag-container">
        <div class="section-heading">Completed
          </div><br>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[]"
             class="item-list" (cdkDropListDropped)="drop($event)">
          <div class="item-box" *ngFor="let item of done" cdkDrag>{{item}}

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
