<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="drag-container">
        <div class="section-heading">To Do
        <button mat-icon-button color="primary" class="mat-icon-button">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button></div><br>
        <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doingList,doneList]"
             class="item-list" (cdkDropListDropped)="drop($event)">
          <div class="item-box" *ngFor="let item of todo" cdkDrag>{{item}}
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="drag-container">
        <div class="section-heading">Doing
          <button mat-icon-button color="primary" class="mat-icon-button">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button></div><br>
        <div cdkDropList #doingList="cdkDropList" [cdkDropListData]="doing" [cdkDropListConnectedTo]="[pendingList,doneList]"
             class="item-list" (cdkDropListDropped)="drop($event)">
          <div class="item-box" *ngFor="let item of doing" cdkDrag>{{item}}
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="drag-container">
        <div class="section-heading">Completed
          <button mat-icon-button color="primary" class="mat-icon-button">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button></div><br>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[doingList,pendingList]"
             class="item-list" (cdkDropListDropped)="drop($event)">
          <div class="item-box" *ngFor="let item of done" cdkDrag>{{item}}
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
