<p>add-contractor works!</p>
<div class="container">
  <h3 mat-dialog-title>Add New Contractor</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <label for ="id">ID</label>
        <input type="text"  #input class="form-control" id="id" [(ngModel)]="data.id" name="id" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>

    </div>

    <!--Textarea for demo purposes-->
    <div class="form-group">
      <label for ="cname">Contractor Name</label>
        <textarea matInput #input class="form-control" id="cname" [(ngModel)]="data.cname" name="cname" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>

    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form-group">
      <label for ="Address">Address</label>
        <input matInput #inputstate class="form-control" id="Address" [(ngModel)]="data.address" name="address"  required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>

    </div>

    <div class="form-group">
      <label for ="nic">NIC</label>
        <input type="text" class="form-control" id="nic" [(ngModel)]="data.nic" name="nicno" required>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
    </div>

    <div class="form-group">
      <label for ="telno">Tel No</label>
        <input type="number" class="form-control" [(ngModel)]="data.telno" maxlength="10" minlength="10" name="telno" id="telno" required>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
    </div>

   <!-- <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="E-mail" [(ngModel)]="data.email" name="email" required>
      </mat-form-field>
    </div> -->

    <div class="form-group">
      <label for ="email">Email</label>
      <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email"name="email" [(ngModel)]="data.email" #emailref="ngModel">
      <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class ="aler alert-danger">
        <div [hidden]="!emailref.errors?.pattern">
          Invalid pattern
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for ="Register">Register</label>
        <input  id="Register" class="form-control" [(ngModel)]="data.regdate" name="regdate" required>

    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
