<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Add Incident Details</h3>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Site
              </mat-panel-title>
              <mat-panel-description>
                Main Details
                <mat-icon>settings_input_antenna</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field style="width: 25%">
              <input matInput placeholder="Site ID (should be 6 characters)" ngModel name="id" id="id" required minlength="6" maxlength="6">
            </mat-form-field>
            <br>
            <mat-form-field style="width: 25%">
              <input matInput placeholder="Site Name" ngModel name="name" id="name" required>
            </mat-form-field>
            <br>

            <mat-form-field style="width: 25%">
              <input type="date" matInput placeholder="Incident Date" ngModel name="cd" id="incident_date">
            </mat-form-field>
            <br>

            <mat-form-field style="width: 25%">
              <textarea matInput placeholder="Summery of Incident" ngModel name="soi" id="incident_summery" required></textarea>
            </mat-form-field>
            <br>

            <mat-form-field style="width: 25%">
              <textarea matInput placeholder="Stolen Property" ngModel name="sp" id="stolen_property"  required></textarea>
            </mat-form-field>
            <br>

            <br>
            <button mat-button color="primary" (click)="nextStep()"[disabled]="!f.valid" >
              Next
            </button>
            <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Location
              </mat-panel-title>
              <mat-panel-description>
                Site Location Details
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input matInput placeholder="Country">
            </mat-form-field>

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Cellular Antenna
              </mat-panel-title>
              <mat-panel-description>
                Location Details
                <mat-icon>signal_cellular_alt</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
            </mat-form-field>
            <mat-datepicker #picker></mat-datepicker>

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Cellular Antenna
              </mat-panel-title>
              <mat-panel-description>
                Type Details
                <mat-icon>signal_cellular_alt</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
