<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Add Incident Details</h3>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Site
              </mat-panel-title>
              <mat-panel-description>
                Main Details
                <mat-icon>settings_input_antenna</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <br>
            <mat-form-field style="width: 25%">
              <input matInput placeholder="Site Name" ngModel name="sname" id="name" required>
            </mat-form-field>
            <br>

            <mat-form-field style="width: 25%">
              <input type="date" matInput placeholder="Incident Date" ngModel name="idate" id="incident_date">
            </mat-form-field>
            <br>

            <mat-form-field style="width: 25%">
              <textarea matInput placeholder="Summery of Incident" ngModel name="soi" id="incident_summery" required></textarea>
            </mat-form-field>
            <br>

            <mat-form-field style="width: 25%">
              <textarea matInput placeholder="Stolen Property" ngModel name="sp" id="stolen_property"  required></textarea>
            </mat-form-field>
            <br>

            <br>
            <button mat-button color="primary" (click)="nextStep()"[disabled]="!f.valid" >
              Submit
            </button>
            <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Inform Incident
              </mat-panel-title>
              <mat-panel-description>
                Infomer Details
                <mat-icon></mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field style="width: 25%">
            <input matInput placeholder="Informer Name" ngModel name="iname" id="InformName" required>
            </mat-form-field>
            <br>
              <mat-form-field style="width: 25%">
                <input type="date" matInput placeholder="Inform Date" ngModel name="indate" id="inform_date" >
              </mat-form-field>
            <br>

            <label id="example-radio-group-label">Provide Abans Security</label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="radio_group"
              ngModel name="provideAbansSecurity">
              <mat-radio-button value="yes">YES</mat-radio-button>
              <mat-radio-button value="no">No</mat-radio-button>
            </mat-radio-group>

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Inform police
              </mat-panel-title>
              <mat-panel-description>
                police Details
                <mat-icon></mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field style="width: 25%">
              <input type="date" matInput placeholder="Entry Date" ngModel name="endate" id="dateOfEntry" >
            </mat-form-field>
            <mat-datepicker #picker></mat-datepicker>
            <br>

            <mat-form-field style="width: 25%">
              <input matInput placeholder="Police Station Name" ngModel name="policename" id="nameOfThePoliceStation" required>
            </mat-form-field>
            <br>

            <label id="police_report">Obtain Police Report</label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="radio_group"
              [(ngModel)]="ObtainPoliceReport">
              <mat-radio-button value="yes">YES</mat-radio-button>
              <mat-radio-button value="no">No</mat-radio-button>
            </mat-radio-group>




            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Remarks
              </mat-panel-title>
              <mat-panel-description>
                Type Details
                <mat-icon></mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field style="width: 25%">
              <textarea matInput placeholder="Remarks" ngModel name="remark" id="Remarks" required></textarea>
            </mat-form-field>

<br>
<br>
              <button class="btn btn-primary mt-2 ml-4 mb-2" type="submit" [disabled]="!f.valid" >
                Submit
              </button>
          </mat-expansion-panel></mat-accordion></form></div></div></div>
