.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #EC6708 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #EC6708 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #EC6708 !important;;
}

.radio_group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

