<p> Edit Remark!</p>

<p>Remark: {{data.remark}}</p>

<form (ngSubmit)="submitUpdateRemarks()">
  <div class="row">
    <div class="form-group col-md-6" >
      <label for="Uremark">Edit Remark </label>
      <input name="Uremark"
             [(ngModel)]="data.remark"
             id="Uremark"
             type="textarea"
             class="form-control" style="width: 500px;padding-top: 20px;padding-bottom: 20px" >
    </div>
  </div>



  <div class="panel" align="center">
    <button type="submit"   class="btn-success" style="padding: 2px 50px 2px 50px;background-color: black">Submit</button>
  </div>
</form>


