<h3>| Add Antenna Dimensions |</h3>
<hr>
<form class="Custom-form" (ngSubmit)="onSubmit()" #f="ngForm">

  <div class="form-group">
    <label>Diameter of Antenna:</label>
    <mat-form-field class="example-full-width">
      <input placeholder="Site ID number"
             type="text"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto"
             id="siteID"
             [(ngModel)]="at.siteID"
             required>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="form-group">
    <label>Site name: </label>
    <label>{{getSiteName()}}</label>
  </div>


  <div class="form-group">
    <label>Height of Antenna:</label>
    <input type="number"
           class="form-control"
           name="height"
           placeholder="Height"
           [(ngModel)]="at.height"
           required
           #height="ngModel">
  </div>

  <div class="form-group">
    <label>Diameter of Antenna:</label>
    <input type="number"
           class="form-control"
           name="diameter"
           placeholder="Diameter"
           [(ngModel)]="at.diameter"
           required>
  </div>

  <div class="form-group">
    <label>Azimuth of Antenna:</label>
    <input type="number"
           class="form-control"
           name="azimuth"
           placeholder="Azimuth"
           [(ngModel)]="at.azimuth"
           required>
  </div>

  <div class="form-group">
    <label>Area of Antenna:</label>
    <input type="number"
           class="form-control"
           name="azimuth"
           placeholder="Area m^2"
           [(ngModel)]="at.areaAntenna"
           required>
  </div>

  <mat-form-field>
    <mat-label>Type of Antenna</mat-label>
    <mat-select
      [(ngModel)]="at.TypeAntenna" name="TypeAntenna">
      <mat-option *ngFor="let op of Type" [value]="op">
        {{op}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Network Operator</mat-label>
    <mat-select
      [(ngModel)]="at.ownerShip" name="ownerShip">
      <mat-option *ngFor="let op of operators" [value]="op">
        {{op}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="form-group">
    <label>Opposite Site:</label>
    <input type="text"
           class="form-control"
           name="oppositeSite"
           placeholder="Opposite Site"
           [(ngModel)]="at.oppositeSite"
           required>
  </div>

  <button type="submit" class="btn btn-primary btn-lg btn-block"
          [disabled]="!f.valid || !(at.siteID!=null) ">Submit
  </button>

</form>
