<div class="container">



  <div class="row">
    <div class="col-12">
      <h3 class="text-left">Add New Project</h3>
    </div>
  </div>
  <br>

  <form style="margin: auto" (ngSubmit)="onSubmit()" #f="ngForm">

    <div class="row">
      <div class="col-lg-6">

          <div class="row">
            <div class="col-lg-2">
                <label for="projectID"> ProjectID </label>
            </div>
            <div class="col-lg-4">
                <input type="text" ngModel name="projectId" id="projectId" class="form-control" required />
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-lg-2">
                <label for="projectname">Project Name</label>
            </div>
            <div class="col-lg-7">
                <input type="text" ngModel name="projectName" id="projectName" class="form-control" required />
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-2">
              <label for="projectType">Project Type</label>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <select class="form-control" ngModel name="projectType" id="projectType" >
                  <option>--select--</option>
                  <option>SiteRelated</option>
                  <option>CabinRelated</option>
                  <option>BuildingRelated</option>
                </select>
              </div>
            </div>
          </div>

      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-3">
            <label for="projectPriority"> Project Priority </label>
          </div>
          <div class="col-lg-5">
            <div class="form-group">
              <select class="form-control" ngModel name="projectPriority" id="projectPriority" >
                <option>--select--</option>
                <option>Normal</option>
                <option>Severe</option>
                <option>None</option>
              </select>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-3">
            <label for="startingDate">Starting Date</label>
          </div>
          <div class="col-lg-5">
            <div class='input-group date'>
              <input type='date' class="form-control" ngModel name="startingDate" id="startingDate" required />
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-lg-3">
            <label for="completionPeriod">Completion Period</label>
          </div>
          <div class="col-lg-5">
            <input type="text" class="form-control" ngModel name="completionPeriod" id="completionPeriod" required />
          </div>
        </div>

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-2">
            <label for="teamId">Working TeamID</label>
          </div>
          <div class="col-lg-5">
            <div class="form-group">
              <select class="form-control" ngModel name="teamId" id="teamId">
                <option>--select--</option>
                <option>T1230</option>
                <option>T0125</option>
                <option>T0028</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-3">
            <label for="details">Details</label>
          </div>
          <div class="col-lg-6">
            <textarea class="form-control" rows="5" ngModel name="details" id="details"></textarea>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="mybtn">
      <button type="submit" class="btn btn-warning">Send</button>
    </div>

  </form>

</div>
