<p class="h1" style="margin-left: 200px" xmlns="http://www.w3.org/1999/html">Add-Visitors</p>

<form xmlns="http://www.w3.org/1999/html" class="form-control-static">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Site Name" required="required Site Name">

  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Visitor Name" >
  </mat-form-field>
  <br>

  <mat-form-field class="date">
    <input  type="date" matInput placeholder="Visit Date" required="required date">
  </mat-form-field>

  <br>



    <mat-form-field class="date">
      <input  type="time" matInput placeholder="Visit Time"required >
    </mat-form-field>

    <mat-form-field class="date">
      <input  type="time" matInput placeholder="Exit Time" required>
    </mat-form-field>

  <br>


  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Visitor Name" cdkTextareaAutosize="100"></textarea>
  </mat-form-field>


  <div class="panel">
    <button md-button color="primary" >Submit</button>
  </div>




</form>
