@import "~bootstrap/dist/css/bootstrap.css";

.body { padding: 30px }

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}
.example-form {
  min-width: 15px;
  max-width: 50px;
  width: 70%;
}

.example-full-width {
  width: 40%;
}
.sname{
  width: 100%;
}
.date{
  width: 20%;
}
