<form (ngSubmit)="submitUpdate()">
  <div class="form-group">
    <label >Site ID:</label>
    <input type="text" class="form-control" name="siteID"  [(ngModel)]="data.siteID" disabled>
    <small class="form-text text-muted">Enter Valid SiteID</small>
  </div>
  <div class="form-group">
    <label >Height of Antenna:</label>
    <input type="text" class="form-control" name="height"  [(ngModel)]="data.height">
  </div>
  <div class="form-group">
    <label >Diameter of Antenna:</label>
    <input type="text" class="form-control" name="diameter"  [(ngModel)]="data.diameter">
  </div>
  <div class="form-group">
    <label >Azimuth of Antenna:</label>
    <input type="text" class="form-control" name="azimuth"  [(ngModel)]="data.azimuth">
  </div>
  <div class="form-group">
    <label >Opposite Site:</label>
    <input type="text" class="form-control" name="oppositeSite"  [(ngModel)]="data.oppositeSite">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
