<form (ngSubmit)="submitUpdate()">
  <div class="form-group">
    <label >Site ID:</label>
    <input type="text" class="form-control" name="siteID"  [(ngModel)]="data.siteID" disabled>
  </div>
  <div class="form-group">
    <label>Height of Antenna:</label>
    <input type="number"
           class="form-control"
           name="height"
           placeholder="Height"
           [(ngModel)]="data.height"
           required
           #height="ngModel">
    <small><p *ngIf="!validateHeight() && !height.untouched" style="color: #ca2819">Height should be between 5 and 10!</p></small>
  </div>

  <div class="form-group">
    <label>Diameter of Antenna:</label>
    <input type="number"
           class="form-control"
           name="diameter"
           placeholder="Diameter"
           [(ngModel)]="data.diameter"
           required
           #diameter="ngModel">
    <small><p *ngIf="!validateDiameter() && !diameter.untouched" style="color: #ca2819">Diameter should be between 0.5 and 5!</p></small>
  </div>

  <div class="form-group">
    <label>Azimuth of Antenna:</label>
    <input type="number"
           class="form-control"
           name="azimuth"
           placeholder="Azimuth"
           [(ngModel)]="data.azimuth"
           required
           #azimuth="ngModel">
    <small><p *ngIf="!validateAzimuth() && !azimuth.untouched" style="color: #ca2819">Azimuth should be between 0 and 360!</p></small>
  </div>

  <div class="form-group">
    <label>Area of Antenna:</label>
    <input type="number"
           class="form-control"
           name="area"
           placeholder="Area m^2"
           [(ngModel)]="data.area"
           #area="ngModel">
    <small><p *ngIf="!validateArea() && !area.untouched" style="color: #ca2819">Area should be between 2 and 15!</p></small>
  </div>

  <mat-form-field>
    <mat-label>Type of Antenna</mat-label>
    <mat-select
      [(ngModel)]="data.type" name="TypeAntenna">
      <mat-option *ngFor="let op of Type" [value]="op">
        {{op}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Network Operator</mat-label>
    <mat-select
      [(ngModel)]="data.owner" name="ownerShip">
      <mat-option *ngFor="let op of operators" [value]="op">
        {{op}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="form-group">
    <label>Opposite Site:</label>
    <input type="text"
           class="form-control"
           name="oppositeSite"
           placeholder="Opposite Site"
           [(ngModel)]="data.oppositeSite"
           required>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="ValidateAll()">Submit</button>
</form>
