<h3 class="display-5 justify-content-center">Upload specification</h3>
<div>
<form>
  <li><a class="">Specification Id </a><input type="text" /></li>

    <div class="row ">
    <div class="form-group col-md-2">
      <label for="category">
        Category
      </label>
      <select id="category" name="category"
              [(ngModel)]="category" class="form-control">
        <option value="security">Tower</option>
        <option value="tech">Fencing</option>
        <option value="tech">Grounding</option>
      </select>
    </div>
  </div>


  <li><a class="clearfix">Name </a><input type="text"/></li>
  <li><a>Description </a><input type="text" /></li>

  <h3>Additional details</h3>

  <li>

    <div class="row ">
      <div class="form-group col-md-2">
        <label for="category">
          Select site
        </label>
        <select id="specSite" name="category"
                [(ngModel)]="category" class="form-control">
          <option value="security">COL001</option>
          <option value="tech">COL002</option>
          <option value="tech">COL003</option>
        </select>
      </div>
    </div>

  </li>

  <li>

    <div class="row ">
      <div class="form-group col-md-2">
        <label for="category">
          Select project
        </label>
        <select id="SpecProject" name="category"
                [(ngModel)]="category" class="form-control">
          <option value="security">P001</option>
          <option value="tech">P002</option>
          <option value="tech">P003</option>
        </select>
      </div>
    </div>
  </li>


  <mat-chip>Upload document/ Image</mat-chip>
  <li><button mat-raised-button	>Submit</button></li>

</form>
</div>

<div class="spec-item">
<mat-card-content>
  <li class="spec_id">Specification ID</li>
  <li class="spec_name">Name </li>
  <button mat-button (click)="openDialog()">See details</button>
  <button mat-button="">Download</button>
</mat-card-content>
</div>
<div class="spec-item">
<mat-card-content>
  <li class="spec_id">Specification ID</li>
  <li class="spec_name">Name </li>
  <button mat-button="">See Details</button>
  <button mat-button="">Download</button>
</mat-card-content>
</div>
