
<!--<mat-card class="spec-card"*ngFor="let specUp of uploadRes">
 <mat-card-content>
  <li> <label class="spec_id">ID</label><label>{{specUp.specId}}</label></li>
  <li> <label class="spec_name">Name</label>  <label>{{specUp.name}}</label></li>
  <li> <label class="desc_s">Description </label> <label>{{specUp.description}}</label></li>
  <li > <label class="spec_name">Category </label> <label>{{specUp.category}}</label></li>
    <li><button mat-button class="btn btn-warning justify-content-center">Further Details</button></li>
   <li> <button mat-button class="btn btn-info">Download</button></li>
 </mat-card-content>
</mat-card>-->
<h3 class="justify-content-center">View specifications</h3>
<div class="card text-center" *ngFor="let specUp of uploadRes">

  <div class="card-body">
    <h5 class="card-title"><label>SP0{{specUp.specId}} | {{specUp.name}}</label></h5>
    <p class="card-text"> <label>{{specUp.description}}</label></p>
    <p class="card-text"><label>{{specUp.category}} type</label></p>
    <a href="#" class="btn">Further Details</a>
    <a href="#" class="btn">Download</a>
  </div>
  <div class="card-footer text-muted">
    project id and site id
  </div>
</div>

