th {
  padding: 15px;
  text-align: center;
  height: 50px;
  font-size: 17px;
}
.th {
  padding: 5px;
  text-align: center;
  width:40px;
}
td{

  padding: 15px;
  text-align: left;
}



.the{
  height: 750px;
  width:30%;

  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 2px;
  left: auto;
  background-color: #fefefe;
}

.the2{
  height: 750px;
  width: 600px;

  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 2px;

  background-color: #fefefe;
}


.centereds {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.centereds {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



.table3{
  margin: 20px  1px;
  border-collapse: collapse;

  width: 480px;
  height: 250px;
  background-color: whitesmoke;
}



.di {
  background-color: whitesmoke;
  color: Black;
  width: 350px;
  height: 250px;
  margin-right: auto;

  padding: 10px 0px;
}
