<h1>| Usage Details of Towers - HUTCH |</h1>
<button class="btn btn-ligh btn-sm" (click)="Summary('COL002')">
  GoTo
</button>
<hr>
<br>
<table style="margin-top: 10px" mat-table class="lessons-table mat-elevation-z8" [dataSource]="ds">

  <ng-container matColumnDef="siteID">
    <th mat-header-cell *matHeaderCellDef> Site ID</th>
    <td mat-cell *matCellDef="let OwnedTowers">{{OwnedTowers.siteID}}</td>
  </ng-container>

  <ng-container matColumnDef="totalArea">
    <th mat-header-cell *matHeaderCellDef> Total Area</th>
    <td mat-cell class="description-cell"
        *matCellDef="let OwnedTowers">{{OwnedTowers.totalArea}}
    </td>
  </ng-container>

  <ng-container matColumnDef="windShieldArea">
    <th mat-header-cell *matHeaderCellDef> Wind Shield Area</th>
    <td mat-cell mat-cell class="duration-cell"
        *matCellDef="let OwnedTowers">{{OwnedTowers.windSheildArea}}
    </td>
  </ng-container>

  <ng-container matColumnDef="Micro">
    <th mat-header-cell *matHeaderCellDef>Microwave Antenna</th>
    <td mat-cell mat-cell class="duration-cell"
        *matCellDef="let OwnedTowers">{{OwnedTowers.micro}}
    </td>
  </ng-container>

  <ng-container matColumnDef="GSM">
    <th mat-header-cell *matHeaderCellDef> GSM Antenna</th>
    <td mat-cell mat-cell class="duration-cell"
        *matCellDef="let OwnedTowers">{{OwnedTowers.gsm}}
    </td>
  </ng-container>

  <ng-container matColumnDef="remaining">
    <th mat-header-cell *matHeaderCellDef> Remaining</th>
    <td mat-cell mat-cell class="duration-cell"
        *matCellDef="let OwnedTowers">{{OwnedTowers.remaining}}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button style="margin-top: 5px" class="btn btn-light" (click)="gotoadd()">
        ADD Details
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let OwnedTowers; let i=index;">


      <button class="btn btn-ligh btn-sm" style="margin-right: 10px" (click)="delete(OwnedTowers.siteID)">
        DELETE
      </button>

      <button class="btn btn-ligh btn-sm" (click)="Summary(OwnedTowers.siteID)">
        GoTo
      </button>

    </mat-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>

</table>
