<p class="h2" style="margin-left: 200px">View-Security </p>


<table class="table-bordered">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Site Name</th>
    <th scope="col">Security Name</th>
    <th scope="col">Mobile Number</th>
    <th scope="col">work time</th>

  </tr>
  </thead>

  <tbody>

  <tr>
    <th scope="row">1</th>
    <td>Panadura</td>
    <td>2019/3/1</td>
    <td>pm</td>
    <td>am</td>
    <td>dialog</td>
    <td>dish service</td>
    <td><button class="btn btn-outline-dark">Edit</button><button class="btn btn-outline-danger">Delete</button> </td>
  </tr>
  </tbody>





</table>
