<p class="h2" style="margin-left: 200px">VIEW-INCIDENT </p>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="incidentId">
      <th mat-header-cell *matHeaderCellDef> IncidentId </th>
      <td mat-cell *matCellDef="let m"> {{m.incidentId}}</td>
    </ng-container>

    <ng-container matColumnDef="siteName">
      <th mat-header-cell *matHeaderCellDef>Site Name </th>
      <td mat-cell *matCellDef="let m"> {{m.siteName}} </td>
    </ng-container>

    <!--Incidet date-->
    <ng-container matColumnDef="incidentDate">
      <th mat-header-cell *matHeaderCellDef> IncidentDate </th>
      <td mat-cell *matCellDef="let m"> {{m.incidentDate}} </td>
    </ng-container>



    <!--Summery Incident-->
    <ng-container matColumnDef="summeryOfTheIncident">
      <th mat-header-cell *matHeaderCellDef> SummeryOfTheIncident</th>
      <td mat-cell *matCellDef="let m"> {{m.summeryOfTheIncident}} </td>
    </ng-container>

    <!--InformDate-->
    <ng-container matColumnDef="dateOfInform">
      <th mat-header-cell *matHeaderCellDef> Date Of Inform </th>
      <td mat-cell *matCellDef="let m"> {{m.dateOfInform}} </td>
    </ng-container>


    <!--Informer name-->
    <ng-container matColumnDef="informerName">
      <th mat-header-cell *matHeaderCellDef> Informer Name </th>
      <td mat-cell *matCellDef="let m"> {{m.informerName}} </td>
    </ng-container>


    <!--Propety-->
    <ng-container matColumnDef="descriptionStolenProperty">
      <th mat-header-cell *matHeaderCellDef> Description Stolen Property </th>
      <td mat-cell *matCellDef="let m"> {{m.descriptionStolenProperty}} </td>
    </ng-container>

    <!--Abans Security-->
    <ng-container matColumnDef="provideAbansSecurity">
      <th mat-header-cell *matHeaderCellDef> Provide Abans Security</th>
      <td mat-cell *matCellDef="let m"> {{m.provideAbansSecurity}} </td>
    </ng-container>

    <!--Complaint name-->
    <ng-container matColumnDef="dateOfEntry">
      <th mat-header-cell *matHeaderCellDef> Date Of Entry</th>
      <td mat-cell *matCellDef="let m"> {{m.dateOfEntry}} </td>
    </ng-container>


    <!--Name Of The Polic station-->
    <ng-container matColumnDef="nameOfThePoliceStation">
      <th mat-header-cell *matHeaderCellDef> Name Of The Police Station</th>
      <td mat-cell *matCellDef="let m"> {{m.nameOfThePoliceStation}} </td>
    </ng-container>


    <!--Police Report-->
    <ng-container matColumnDef="obtainPoliceReport">
      <th mat-header-cell *matHeaderCellDef> Obtain Police Report</th>
      <td mat-cell *matCellDef="let m"> {{m.obtainPoliceReport}} </td>
    </ng-container>

    <!--Remarks-->
    <ng-container matColumnDef="remarks">
      <th mat-header-cell *matHeaderCellDef> Remarks</th>
      <td mat-cell *matCellDef="let m"> {{m.remarks}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

