<form (ngSubmit)="submitupdate()">

  <p>{{dat}}</p>
  <div class="form-group">
    <label >Site ID:</label>
    <input type="text" class="form-control" name="siteID"     [(ngModel)]="data.siteID" disabled>
    <small class="form-text text-muted">Enter Valid SiteID</small>
  </div>
  <div class="form-group">
    <label >Total Area on Tower (m^2) :</label>
    <input type="text" class="form-control" name="totalArea" [(ngModel)]="data.totalArea"  >
  </div>
  <div class="form-group">
    <label >Wind sheild Area:</label>
    <input type="text" class="form-control" name="windSheildArea" [(ngModel)]="data.windSheildArea" >
  </div>
  <div class="form-group">
    <label >Own GSM antenna covered Area:</label>
    <input type="text" class="form-control" name="ownGSM"  placeholder="Area: m^2" [(ngModel)]="data.ownGSM">
  </div>
  <div class="form-group">
    <label >Own Micro wave antenna covered Area:</label>
    <input type="text" class="form-control" name="ownMicro"  placeholder="Area: m^2" [(ngModel)]="data.ownMicro">
  </div>
  <div class="form-group">
    <label >Total Shared Area with Networkers for GSM :</label>
    <input type="text" class="form-control" name="totalSharedGSM"  placeholder="Area: m^2" [(ngModel)]="data.totalSharedGSM">
  </div>
  <div class="form-group">
    <label >Total Shared Area with Networkers for GSM :</label>
    <input type="text" class="form-control" name="totalSharedMicro"  placeholder="Area: m^2" [(ngModel)]="data.totalSharedMicro">
  </div>
  <div class="form-group">
    <label >Remaining area on the Tower:</label>
    <input type="text" class="form-control" name="remaining"  placeholder="Area: m^2" [(ngModel)]="data.remaining">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
