

<p class="h1 " style="margin-left: 200px">Add-Maintenance</p>

<div class="body" style="margin-left: 100px">
  <form xmlns="http://www.w3.org/1999/html" class="form-control-static" (ngSubmit)="onSubmit(f)" #f = "ngForm"  >

    <div class="row">
      <div class="form-group col-md-2" >
        <mat-form-field class="example-full-width">
          <label for="siteName">Site Name</label>
          <input type="text" required
          name="sname"   id="siteName"  [(ngModel)]="im.sname" aria-label="Number" matInput  [formControl]="myControl" [matAutocomplete]="auto" class="form-control">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" class="row">
              {{option}}
            </mat-option>
          </mat-autocomplete>
       <!--   <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
      </div>

    </div>


    <div class="row">
      <div class="form-group col-md-2">
        <mat-form-field class="example-full-width">
          <label for="category">Category</label>
          <mat-select [(ngModel)]="im.category" name="category" id="category" class="form-control" required="">
            <mat-option *ngFor="let cate of cat" [value]="cate">
              {{cate}}
            </mat-option>
          </mat-select>
       <!--   <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
    </div>
    </div>


    <div class="row">
      <div class="form-group col-md-5">
        <label for="civilIssue">Civil Issue</label>
        <textarea id="civilIssue" name="issue" [(ngModel)]="im.issue" cols="10" rows="5" class="form-control" required></textarea>
      </div>
    </div>


    <div class="row">
      <div class="form-group col-md-2">
        <mat-form-field class="example-full-width">
          <label for="piority">Piority Level</label>
          <mat-select [(ngModel)]="im.piority" name="piority" id="piority" class="form-control">
            <mat-option *ngFor="let p of pio" [value]="p">
              {{p}}
            </mat-option>
          </mat-select>
    <!--      <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="form-group col-md-2">
    <mat-form-field>
      <label for="InformDate">Inform Date</label>
      <input [(ngModel)]="im.idate" type="text" matInput="date" [matDatepicker]="picker1" id="InformDate" [formControl]="date"  class="form-control">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
   <!--   <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
      </div>
    </div>

   <div class="panel">
      <button type="submit"    class="btn btn-primary mt-2 ml-1 mb-2" [disabled]="!f.valid">Submit</button>
    </div>



  </form>



</div>



