<p [(ngModel)]="data.siteName" ngDefaultControl>Site Name: {{data.siteName}}</p>
<p [(ngModel)]="data.intime" ngDefaultControl>In Time: {{data.intime}}</p>
<p [(ngModel)]="data.exitTime" ngDefaultControl>Exit Time:  {{data.exitTime}}</p>


<form (ngSubmit)="submitUpdate()" >
  <div class="row">
    <div class="form-group col-md-6" >
      <label for="Pstatus">Visitor Name</label>
      <input name="Pstatus"
             [(ngModel)]="data.visitorName"
             id="Pstatus"
             type="text"
             class="form-control" >
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6" >
      <label for="Pdetails">Vsit Date</label>
      <input type="date" name="Pdetails"
             [(ngModel)]="data.vistDate"
             id="Pdetails"

             class="form-control" >
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-7">
      <label for="pteamid">Description</label>
      <textarea required ngModel
             name="pteamid"
             [(ngModel)]="data.description"
             id="pteamid"
             type="text"
                class="form-control" ></textarea>

    </div>
  </div>

  <div class="panel">
    <button type="submit"   class="btn-success">Submit</button>
  </div>
</form>
