<h2>| Usage of Antenna's Area |</h2>
<hr>
<form (ngSubmit)="onSubmit()" #f="ngForm" >

  <mat-form-field class="example-full-width">
    <input name="siteID" type="text" placeholder="Site ID number" aria-label="Number"
           matInput
           ngModel
           [formControl]="myControl"
           [matAutocomplete]="auto"
           required
           [(ngModel)]="ot.siteID">

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="form-group">
    <label >Site name: </label>
    <label>{{getSiteName()}}</label>
  </div>

  <div class="form-group">
    <label >Total Area on Tower (m^2) :</label>
    <input type="number"
           class="form-control"
           name="totalArea"
           placeholder="Total Area: m^2"
           required
           ngModel
           [(ngModel)]="ot.totalArea"
      min=20
       max=50>
  </div>
  <div class="form-group">
    <label >Wind sheild Area:</label>
    <input type="number" class="form-control" name="windSheildArea"  placeholder="Area: m^2" required ngModel
           [(ngModel)]="ot.windSheildArea">
  </div>
  <div class="form-group">
    <label >GSM antenna covered Area:</label>
    <input type="number" class="form-control" name="ownGSM"  placeholder="Area: m^2" required ngModel
           [(ngModel)]="ot.ownGSM">
  </div>
  <div class="form-group">
    <label >Micro wave antenna covered Area:</label>
    <input type="number" class="form-control" name="ownMicro"  placeholder="Area: m^2" required ngModel
           [(ngModel)]="ot.ownMicro">
  </div>

  <div class="form-group">
    <label >Remaining area on the Tower:</label>
    <input type="number" class="form-control" name="remaining"  placeholder="Area: m^2" required ngModel
           [(ngModel)]="ot.remaining">
  </div>
  <button type="submit"
          class="btn btn-primary btn-lg btn-block"S
           [disabled]="!f.valid || !(ot.siteID!=null) " >Submit</button>
</form>
