table {
  width: 100%;
}

th, td {
  margin-left: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

/*td, th {
  width: 10%;
}*/

@media print{
  .doNotPrint{display:none !important;}
}
