<p class="h1" style="margin-left: 200px">Add-Security</p>

<form xmlns="http://www.w3.org/1999/html" class="form-control-static">


  <div class="row">
    <div class="form-group col-md-2" >

      <label for="siteName">Site Name</label>
      <input type="text" required ngModel
             id="siteName"  aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" class="form-control">

    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-2" >

      <label for="securityName">Security Name</label>
      <input type="text" required ngModel
             id="securityName"  aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" class="form-control">

    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-2" >

      <label for="workTime">Work Time</label>
      <input type="text" required ngModel
             id="workTime"  aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" class="form-control">

    </div>
  </div>



  <div class="panel">
    <button md-button color="primary" >Submit</button>
  </div>

  <div class="panel">
    <button md-button color="primary" >Update</button>
  </div>




</form>
