<p class="h1" style="margin-left: 200px">Add-Security</p>

<form xmlns="http://www.w3.org/1999/html" class="form-control-static">


  <mat-form-field class="example-full-width" >
    <input matInput placeholder="Site Name" required>
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Security Name" required>

  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <input type="number" matInput placeholder="Phone Number" required>

  </mat-form-field>

  <br>

  <mat-form-field class="time">
    <input type="time" matInput placeholder="Work time" required>
  </mat-form-field>

  <div class="panel">
    <button md-button color="primary" >Submit</button>
  </div>

</form>
