table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  min-width: 150px;
  max-width: 400px;
  width: 100%;

}


.Emg{
  background: #ff3701; /* green */
}

.Nor{
  background: gold; /* green */
}

.status{
  background: greenyellow;
}

.Low{
  background: #2564ff;
}


.foo {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}


