<h3 class="display-4 text-center">ADD NEW LOG</h3>

<li><label>Specification ID </label>
  <div class="dropdown show float-right">

    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="d3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Site ID
    </a>

    <div class="dropdown-menu" aria-labelledby="d3">
      <a class="dropdown-item" href="#">s1</a>
      <a class="dropdown-item" href="#">s2</a>
      <a class="dropdown-item" href="#">s3</a>
    </div>
  </div>
</li>

<li><label>Site ID </label>
  <div class="dropdown show float-right">

    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="d2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Site ID
    </a>

    <div class="dropdown-menu" aria-labelledby="d2">
      <a class="dropdown-item" href="#">s1</a>
      <a class="dropdown-item" href="#">s2</a>
      <a class="dropdown-item" href="#">s3</a>
    </div>
  </div>
</li>

<li><label>Project  </label>
  <div class="dropdown show float-right">

    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="d1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Site ID
    </a>

    <div class="dropdown-menu" aria-labelledby="d1">
      <a class="dropdown-item" href="#">s1</a>
      <a class="dropdown-item" href="#">s2</a>
      <a class="dropdown-item" href="#">s3</a>
    </div>
  </div>
</li>

<label> Remark </label>
<input type="text" class="float-right">
<button class="btn btn-secondary float-right">ADD</button>



<h3 class="display-4 text-center">Specification log</h3>

<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Spec ID</th>
    <th scope="col">Site ID</th>
    <th scope="col">Project</th>
    <th scope="col">Remark</th>
    <th scope="col">Status</th>
    <th scope="col">Edit/Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>test</td>
    <td>ok</td>
    <td><button class="btn btn-outline-dark">Edit</button><button class="btn btn-outline-danger">Delete</button> </td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>test</td>
    <td>ok</td>
    <td><button class="btn btn-outline-dark">Edit</button><button class="btn btn-outline-danger">Delete</button> </td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry the Bird</td>
    <td>nkkk</td>
    <td>@twitter</td>
    <td>test</td>
    <td>ok</td>
    <td><button class="btn btn-outline-dark">Edit</button><button class="btn btn-outline-danger">Delete</button> </td>
  </tr>
  </tbody>
</table>

