<!--h3 class="display-5 text-center">Add new log</h3>

  <div>
    <form (ngSubmit)="onSubmit(SlogForm)" #SlogForm="ngForm">

       <div class="form-group">
        <label for="specID">Enter Specification ID</label>
         <input type="text" [(ngModel)]="specl.specId"
                class="form-control" id="specID" name="specID"
                placeholder="Enter spec id "
                required #name="ngModel">
       </div>
      <li>
        <div class="row ">
          <div class="form-group">
            <label for="remark">
              Enter remark
            </label>
            <input type="text" [(ngModel)]="specl.remark"
                   class="form-control" id="remark" name="remark"
                   placeholder="Enter remark "
                   required #name="ngModel">
          </div>
         <!-- <p>***{{ temp.specId}}</p>
        </div>
      </li>


      <button class="form-control" [disabled]="!SlogForm.form.valid">Submit </button>
      <!--<p>{{ specl.remark }}</p>
      <p>{{ specl.specId}}</p>

       </form>
  </div>

    <!--select id="Speclog" name="category  "
            [(ngModel)]="category" class="form-control">
      <option value="security">S001</option>
      <option value="tech">S002</option>
      <option value="tech">S003</option>
    </select>
<li>
<div class="row ">
  <div class="form-group col-md-2">
    <label for="siteId" >Select Site ID</label>
    <input type="text" [(ngModel)]="SpecLog.siteId"
           class="form-control" id="siteId" name="siteId"
           placeholder="Enter site id "
           required #name="ngModel">
    <!--<select id="SpecSiteLog" name="category"
            [(ngModel)]="SpecLog.siteId" class="form-control">
      <option value="security">COL001</option>
      <option value="tech">COL002</option>
      <option value="tech">COL003</option>
    </select>
  </div>
</div>
</li>-->

     <!-- <select id="SpecProject" name="category"
              [(ngModel)]="category" class="form-control">
        <option value="security">P001</option>
        <option value="tech">P002</option>
        <option value="tech">P003</option>
      </select>
    </div>
  </div>
</li>

  <div class="form-group col-md-2">
  <label for="remark">

  </label>
  <input type="text" [(ngModel)]="specs.r"
         class="form-control" id="remark" name="remark"
         placeholder="Enter project id "
         required #name="ngModel">
  </div>

    </div>-->


