button{
  margin-right: 10px;
}
li{
  list-style: none;
  padding: 20px;
  border: 20px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


mat-chip {
  padding: 20px;
  font-size: large;
}
