<h3 class="display-5 justify-content-center">Add Log</h3>
<div>
  <form (ngSubmit) ="onSubmit(LogForm)" #LogForm = "ngForm" >
    <div class="form-group">
      <label for="specId">Select Specification ID</label>
      <input type="text" matInput [formControl]="myControl2" [matAutocomplete]="auto2" [(ngModel)]="specl.specId" id="specId">
      <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions3 | async" [value]="option">
          SP0{{option}}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="form-group">
      <label for="site">Site ID</label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="specl.siteId" id="site">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="form-group">
      <label for="project">Project</label>
      <input type="text" matInput [formControl]="myControl1" [matAutocomplete]="auto1" [(ngModel)]="specl.projectId" id="project">
      <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>

    </div>

    <div class="form-group">
      <label for="name">Enter remark</label>
      <input type="text" [(ngModel)]="specl.remark"
             class="form-control" id="name" name="name"
             placeholder="Enter remark "
             required #name="ngModel">
    </div>

    <button class="form-control" >Submit </button>
  </form>


  <button mat-button color="accent" (click)="GenerateReport()">
    <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">print</mat-icon></button>


  <h3 class="justify-content-center">View Logs</h3>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="specId">
      <th mat-header-cell *matHeaderCellDef> specId </th>
      <td mat-cell *matCellDef="let element"> SP0{{element.specId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="siteId">
      <th mat-header-cell *matHeaderCellDef> Site Id </th>
      <td mat-cell *matCellDef="let element"> {{element.siteId}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="projectId">
      <th mat-header-cell *matHeaderCellDef> Project Id </th>
      <td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="remark">
      <th mat-header-cell *matHeaderCellDef> Remark </th>
      <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <mat-cell *matCellDef="let element">
        <button mat-button (click)="viewSpec(element.specId)"><i class="fas fa-eye"></i></button>
        <button mat-button color="warn"(click)="deleteSpec(element.specId)"><i class="fas fa-trash"></i></button>
        <button mat-button color="accent"  (click)="getreporttoeach(element.specId,element.siteId,element.projectId,element.remark)">
          <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">print</mat-icon></button>


      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
