<table><tr>
  <th class="the">    <app-map></app-map></th>



  <th class="the">

    <h3 > Search for a Site</h3>
    <div class="col-md-6 user-container" align="bottom" ><table class="table1"><tr><th class="th">


      <div class="container" style="margin-left: 9px">
        <div class="row custom-wrapper" >
          <div class="col-md-12" >
            <div class="di" style="margin-right: 90px">
              <!-- Form starts -->

              <form xmlns="http://www.w3.org/1999/html" class="form-control-static" (ngSubmit)="onSubmit(f)" #f = "ngForm"  >

                <div class="row"  style="margin-left: 90px">
                  <div class="form-group col-md-2" >
                    <mat-form-field class="example-full-width" style="width: 450px">
                      <label for="siteName" style="alignment: center;padding-bottom: 20px">Select Site Name By Here</label>
                      <input type="text" required
                             name="sname"   id="siteName"  [(ngModel)]="sname" aria-label="Number" matInput  [formControl]="myControl" [matAutocomplete]="auto" class="form-control" style="padding-bottom: 12px;padding-top: 12px;">
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" class="row">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="panel">
                  <button type="submit"    class="btn btn-primary mt-2 ml-1 mb-2" [disabled]="!f.valid" style="background-color: #EC6708;padding: 10px 70px 10px 70px;font-size: 20px">Search</button>
                </div>

              </form>






            </div>
          </div>
        </div>
      </div>

    </th></tr></table>


    </div>
  </th>
</tr>
</table>
