<h1>| Physical Dimensions of Antenna - HUTCH |</h1>

<table mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

  <ng-container matColumnDef="siteID">
    <th mat-header-cell *matHeaderCellDef>   Site ID   </th>
    <td mat-cell *matCellDef="let tower">{{tower.siteID}}</td>
  </ng-container>

  <ng-container matColumnDef="height">
    <th mat-header-cell *matHeaderCellDef>   Height    </th>
    <td  mat-cell class="description-cell"
         *matCellDef="let tower">{{tower.height}}</td>
  </ng-container>

  <ng-container matColumnDef="diameter">
    <th mat-header-cell *matHeaderCellDef>   Diameter    </th>
    <td mat-cell mat-cell class="duration-cell"
         *matCellDef="let tower">{{tower.diameter}}</td>
  </ng-container>

  <ng-container matColumnDef="azimuth">
    <th mat-header-cell *matHeaderCellDef>   Azimuth of Antenna    </th>
    <td  mat-cell mat-cell class="duration-cell"
         *matCellDef="let tower">{{tower.azimuth}}</td>
  </ng-container>

  <ng-container matColumnDef="TypeAntenna">
    <th mat-header-cell *matHeaderCellDef>   Type of Antenna    </th>
    <td mat-cell mat-cell class="duration-cell"
        *matCellDef="let tower">{{tower.type}}</td>
  </ng-container>

  <ng-container matColumnDef="ownership">
    <th mat-header-cell *matHeaderCellDef>   Network Operator   </th>
    <td mat-cell mat-cell class="duration-cell"
         *matCellDef="let tower">{{tower.owner}}</td>
  </ng-container>

  <ng-container matColumnDef="area">
    <th mat-header-cell *matHeaderCellDef>   Area of Antenna    </th>
    <td mat-cell mat-cell class="duration-cell"
        *matCellDef="let tower">{{tower.area}}</td>
  </ng-container>

  <ng-container matColumnDef="oppositeSite">
    <th mat-header-cell *matHeaderCellDef>   Opposite Site of Antenna    </th>
    <td mat-cell mat-cell class="duration-cell"
        *matCellDef="let tower">{{tower.oppositeSite}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button style="margin-top: 5px" class="btn btn-light"  (click)="gotoadd()">
        ADD Details
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let tower; let i=index;">
      <button style="margin-right: 10px" class="btn btn-primary btn-sm"  (click)="startEdit(tower.siteID, tower.towerID,
      tower.diameter, tower.height,tower.azimuth, tower.area,tower.type,tower.owner, tower.oppositeSite)">
        EDIT
      </button>


      <button class="btn btn-ligh btn-sm"  (click)="delete(tower.towerID)">
        DELETE
      </button>

    </mat-cell>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>
<br>
<hr>
<div>
<Button class="btn btn-primary btn-sm" (click)="GenerateReport()">Generate Report</Button>
</div>

<!--
<highcharts-chart
  [Highcharts] = "highcharts"
  [options] = "chartOptions"
  style = "width: 100%; height: 400px; display: block;">
</highcharts-chart>

-->
