<table><tr>
  <th class="the">    <app-map></app-map></th>



  <th class="the">

    <div class="col-md-6 user-container" align="bottom"><table ><tr><th class="th">

     <a [routerLink]="['/search-map']" routerLinkActive="active"><button class="buttonMain2">Search</button></a><br>
      <a [routerLink]="['/site-status']" routerLinkActive="active"><button class="buttonMain2">View Status</button></a>
      <a [routerLink]="['/remarks']" routerLinkActive="active"><button class="buttonMain2">Site Remarks</button></a>
    </th></tr></table>
      <br><br>


    </div>
  </th>
</tr>
</table>

